.form-control {
	width: 70%;
}

.navbar {
	min-height: 25px;
	background: url("/image_src/food.png");
	padding-top: 5px;
}

#food-list li {
	list-style-image: url('/icons/add139.png');
	padding-top: 10px;
	padding-bottom: 10px;
}

#total-list li {
	list-style-image: url('/icons/minus87.png');
	padding-top: 10px;
	padding-bottom: 10px;
}

#total-list {
	margin-bottom: 29px;
}

#food-list {
	margin-top: 10px;
}
h1 {
	text-align: center;
	padding-top: 5px;
	color: #fff;
}

hr {
	margin-top: 10px;
}

.total-list-hr {
	margin-bottom: 50px;
}


p {
	font-weight: bold;
}

.user-input {
	/*background: url("/image_src/texture-background.jpg");*/
	background: url("/image_src/restaurant.png");

	height: 110px;
	/*background-size: 100% auto;*/
	/*background-size: contain;*/
/*	position: fixed;
*//*	top: 10px;
	left: 20px;*/
}

input#searchFood:focus {
	outline-color: #fac564;
}

#searchFood {
	margin-left: 15px;
	border: 0px;
	padding: 3px;
}

#search-button {
	margin-left: -5px;
	border: 0px;
	padding: 3px 5px;
	background-color: #fac564;
	color: #fff;
}

#search-button:focus {
	outline: none;
}

body {
	background: url("/image_src/shattered.png");
	background-size: contain;
	font-family: 'Open Sans', sans-serif;
}

ul {
	font-size: 16px;
}

#loading-icon {
	display: block;
	margin: auto;
}
/*ul {
	margin-top: 10px;
	margin-bottom: 25px;
}*/

/*#total-calories {
  text-align: center;
  width: 131px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: '';
}*/