.form-control {
	width: 70%;
}

.navbar {
	min-height: 25px;
}

#food-list li {
	list-style-image: url('/icons/add139.png');
	padding-top: 10px;
	padding-bottom: 10px;
}

#total-list li {
	list-style-image: url('/icons/minus87.png');
	padding-top: 10px;
	padding-bottom: 10px;
}

#total-list {
	margin-bottom: 29px;
}

#food-list {
	margin-top: 10px;
}
h1 {
	text-align: center;
	padding-top: 5px;
	color: #eee;
}

hr {
	margin-top: 10px;
}

p {
	font-weight: bold;
}

.user-input {
	/*background: url("/image_src/texture-background.jpg");*/
	background: url("/image_src/food.png");

	height: 110px;
	/*background-size: 100% auto;*/
	background-size: contain;
/*	position: fixed;
*//*	top: 10px;
	left: 20px;*/
}

#searchFood {
	margin-left: 15px;
	margin-right: 10px;
}


/*ul {
	margin-top: 10px;
	margin-bottom: 25px;
}*/

/*#total-calories {
  text-align: center;
  width: 131px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: '';
}*/