/*General*/
body {
	background: url("../image_src/shattered.png");
	background-size: contain;
	font-family: 'Open Sans', sans-serif;
}

/*Header*/
h1 {
	text-align: center;
	padding-top: 5px;
	color: #fff;
}

/*Paragraph*/
p {
	font-weight: bold;
}

/*Unordered Lists*/
ul {
	font-size: 16px;
}

#food-list li {
	list-style-image: url('../icons/add139.png');
	padding-top: 10px;
	padding-bottom: 10px;
}

#food-list {
	margin-top: 10px;
}

#total-list li {
	list-style-image: url('..//icons/minus87.png');
	padding-top: 10px;
	padding-bottom: 10px;
}

#total-list {
	margin-bottom: 29px;
}

/*Navigation Bar Bottom*/
.navbar {
	min-height: 25px;
	background: url("../image_src/food.png");
	padding-top: 5px;
}

/*Horizontal Ruler*/
hr {
	margin-top: 10px;
}

.total-list-hr {
	margin-bottom: 50px;
}

/*User input section*/
.user-input {
	background: url("../image_src/restaurant.png");
	height: 110px;
}

input#searchFood:focus {
	outline-color: #fac564;
}

#searchFood {
	margin-left: 15px;
	border: 0px;
	padding: 3px;
}

#search-button {
	margin-left: -5px;
	border: 0px;
	padding: 3px 5px;
	background-color: #fac564;
	color: #fff;
}

#search-button:focus {
	outline: none;
}

/*Loading Icon*/
#loading-icon {
	display: block;
	margin: auto;
}
