<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Health Tracker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href='css/main.css'>
	</head>
	<body>

			<div id="searchContainer">
				<h1>Calories</h1>
				<input id="searchFood" type="text" placeholder="How many calories have you consumed?">
				<button class="searchBtn">Search Food</button>
				<ul id="food-list"></ul>
				<ul id="total-list"></ul>

		<!--<script type="text/template" id="foodTemplate">
			<%_.each(food, function (item) { %>
				<div class="food">
					<p><%= item.fields.item_name %></p>
					<p><%= item.fields.nf_calories %></p>
					</div>
					<% }); %>
		</script>-->
		<!-- <div id="itemContainer"> -->
		</div>
		<div id="foodContainer"></div>
			<script type="text/template" id="foodTemplate">
			<% _.each(food, function (item) { %>
						<li><%= item.fields.item_name %> | calories: <%= item.fields.nf_calories %></li>
				<% }); %>
			</script>



		<script src="js/lib/underscore-min.js"></script>
		<script src="js/lib/jquery-1.11.3.min.js"></script>
		<script src="js/lib/backbone-min.js"></script>
		<script src="http://localhost:9090/livereload.js"></script>
		<script src="js/models/food-model.js"></script>
		<script src="js/collections/food-collection.js"></script>
		<script src="js/views/food-app-view.js"></script>
		<script src="js/views/food-list-view.js"></script>
		<script src="js/views/food-total-view.js"></script>
		<script src="js/routers/food-router.js"></script>
	</body>
</html>
